NODE_ENV=development

TOKEN=token01
APP_HOST=localhost
APP_PORT=3001

DEV_DB_HOST=localhost
DEV_DB_PORT=3308
DEV_DB_DATABASE=usherctrl
DEV_DB_USERNAME=root
DEV_DB_PASSWORD=

TEST_DB_HOST=localhost
TEST_DB_PORT=3306
TEST_DB_DATABASE=
TEST_DB_USERNAME=root
TEST_DB_PASSWORD=

PROD_DB_HOST=localhost
PROD_DB_PORT=3306
PROD_DB_DATABASE=
PROD_DB_USERNAME=root
PROD_DB_PASSWORD=

UPLOAD_STORAGE_DIR=../
LOGS_DIR=logs
LOGS_EVENT_DIR=events
LOGS_UPLOADED_EVENT_DIR=uploadedEvents
LOGS_PER_MIN_DIR=permin
LOGS_FIRST_ALARM_DIR=firstalarm
LOGS_EVENT_MAX_DIR=eventMax
LOGS_UPLOADED_EVENT_MAX_DIR=uploadedeventMax

PERMIN=5
UPLOAD_PERMIN=true
UPLOAD_EVENT=true
UPLOAD_FIRSTALARM=true
UPLOAD_EVENT_MAX=true

URL_FIRSTALARM=
URL_PERMIN=
URL_EVENT=
URL_EVENT_MAX=