NODE_ENV=development

APP_HOST=192.168.10.12
APP_PORT=3000

DEV_DB_HOST=localhost
DEV_DB_PORT=3308
DEV_DB_DATABASE=config_db
DEV_DB_USERNAME=usher
DEV_DB_PASSWORD=password

TEST_DB_HOST=localhost
TEST_DB_PORT=3306
TEST_DB_DATABASE=
TEST_DB_USERNAME=root
TEST_DB_PASSWORD=

PROD_DB_HOST=localhost
PROD_DB_PORT=3306
PROD_DB_DATABASE=
PROD_DB_USERNAME=root
PROD_DB_PASSWORD=

TEMPFILE=tempfile
UPLOAD_STORAGE_DIR=../
LOGS_DIR=logs
LOGS_EVENT_DIR=events
LOGS_UPLOADED_EVENT_DIR=uploadedEvents
LOGS_PER_MIN_DIR=permin
LOGS_FIRST_ALARM_DIR=firstalarm
LOGS_EVENT_MAX_DIR=eventMax
LOGS_UPLOADED_EVENT_MAX_DIR=uploadedeventMax

STORAGE=false
MONTH_TO_DELETE=12

EMPTY_DIR=false

GREEN_GPIO=13
YELLOW_GPIO=12
RED_GPIO=6

BTN1_GPIO=19
BTN2_GPIO=16
BTN3_GPIO=20

RELAIS_1_GPIO=26
RELAI_TRIGGER=low
BUZZ_GPIO=21
